.App {
  text-align: center;
}
.calculate{
  background-color:darkolivegreen;
  display: block;
  width: 400px;
  margin: 0 auto;
  padding:20px;
}
.numbers, .signs{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, 50px);
  margin: 7px auto;
  width: 400px;
  justify-content: center;
  grid-gap: 7px;
}

.item{
  border: none;
  cursor: pointer;
  height: 50px;
  padding: 0;
}
.item:hover{
  background-color: #fff;
}
input{
  margin-bottom: 5px;
  height: 40px;
  width: 270px;
}